body {
  font-family: Arial, sans-serif;
  background-image: url('C:\Users\PC\Desktop\VEB_Projekat\VebProjekat\veb-projekat\src\components\pozadina.png'); /* Dodajte putanju do slike */
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.nav-menu {
  background-color: transparent;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: #bda165;
  display: block;
  width: 200px;
  padding: 10px;
  border: 3px solid #000;
  border-radius: 10px;
  background-color: #000;
  color: #bda165;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

a:hover {
  background-color: #bda165;
  color: #fff;
  box-shadow: 0px 0px 5px rgba(255, 0, 0, 0.5);
}
