
.tabela-container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: rgba(255, 192, 203, 0.4); /* Svijetlo roza i providna pozadina */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
    
    .tabela-container h2 {
    text-align: center;
    margin-bottom: 1rem;
    }
    
    .tabela-container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    }
    
    .tabela-container th,
    .tabela-container td {
    padding: 0.5rem;
    text-align: center;
    border-bottom: 1px solid #ccc;
    }
    
    .tabela-container th {
    background-color: rgb(182, 152, 98);
    color: white;
    }
    
    .tabela-container tbody tr:hover {
    background-color: #f0f8ff;
    }